body {
  margin: 0px;
  position: relative;
  box-sizing: border-box;
}
.mainNav {
  width: 100vw;
  height: 70px;

  display: flex;
  position: fixed;
  top: 0px;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
}
.logo {
  font-size: 28px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  color: rgb(49, 45, 45);
  margin-left: 10%;
  font-weight: 500;
}
.navigation {
  margin-left: 20%;
  width: 60vw;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.navList {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  cursor: pointer;
  color: rgb(73, 62, 62);
  list-style: none;
}
.socialMedia {
  width: 15%;
  height: 100%;
  display: flex;
  margin-right: 10%;
  align-items: center;
  flex-direction: row;
  background-color: yellow;
}
.emptyDiv {
  width: 100vw;
  height: 70px;
}
.home {
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(lumia.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 0px;
}
.homeTitle {
  color: white;
  font-size: 50px;
}
