body {
  margin: 0px;
  position: relative;
  box-sizing: border-box;
  overflow-x: hidden;
}
.mainNav {
  width: 100vw;
  height: 70px;
  background-color: white;
  display: flex;
  position: fixed;
  top: 0px;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  border-bottom: 0.5px solid rgb(250, 250, 250);
  box-shadow: 0px 0px 7px rgb(160, 153, 153);
  z-index: 2;
}
.logo {
  font-size: 28px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  color: rgb(49, 45, 45);
  margin-left: 10%;
  font-weight: 500;
}
.navigation {
  margin-left: 20%;
  width: 60vw;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.navList {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  cursor: pointer;
  color: rgb(114, 104, 104);
  list-style: none;
  padding: 25px 10px;
  position: relative;
}
.navList:hover {
  color: aqua;
  transition: 1s all ease;
}
.socialMedia {
  width: 15%;
  height: 100%;
  display: flex;
  margin-right: 10%;
  align-items: center;
  flex-direction: row;
  background-color: yellow;
}
.emptyDiv {
  width: 100vw;
  height: 70px;
}
.home {
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(lumia.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0px;
  flex-direction: column;
}
.homeTitleContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -13%;
}
.homeTitle {
  color: white;
  font-size: 50px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}
.homeTitleUnderline {
  color: white;
  font-size: 50px;
  border-bottom: 3px solid #3498db;
  padding-bottom: 2px;
  margin-left: 10px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}
.homeSubtitle {
  color: white;
  font-size: 24px;
  margin-top: -190px;
  font-family: "Raleway", sans-serif;
}
.homeButton {
  color: white;
  background-color: #3498db;
  border-radius: 3px;
  padding: 14px 30px;
  font-size: 13px;
  border: none;
  cursor: pointer;
}
.homeButton:hover {
  background-color: #8abee0;
  transition: 0.5s all ease;
}
.dropdownContainer {
  display: none;
  width: 180px;
  height: 210px;
  position: absolute;
}
.dropdownContainer2 {
  display: none;
  width: 180px;
  height: 210px;
  position: absolute;
}
.dropdownList:hover .dropdownContainer2 {
  display: block;
  border: 0px solid white;
  box-sizing: border-box;
  top: 45px;
  left: 175px;
  border: 0.5px solid rgb(250, 250, 250);
  box-shadow: 0px 0px 7px rgb(160, 153, 153);
  background-color: white;
  cursor: auto;
  display: flex;
  justify-content: space-around;
}
.navList:hover .dropdownContainer {
  display: block;
  border: 0px solid white;
  box-sizing: border-box;
  top: 7vh;
  border: 0.5px solid rgb(250, 250, 250);
  box-shadow: 0px 0px 7px rgb(160, 153, 153);
  background-color: white;
  cursor: auto;
  display: flex;
  justify-content: space-around;
}
.dropdownList {
  width: 100%;
  margin-left: -40px;
  margin-top: 3px;
  font-size: 15px;
  color: black;
  padding: 10px 40px 10px 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  cursor: pointer;
  list-style-type: none;
}
.dropdownList:hover {
  background-color: rgba(209, 200, 200, 0.144);
  color: aqua;
  transition: 1s all ease;
}

.whatWeDo {
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0px;
  flex-direction: column;
}
.wwdTitle {
  font-size: 32px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  margin-bottom: -1%;
  color: rgb(36, 32, 32);
}
.lineContainer {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 2%;
}
.wwdLine2 {
  border-bottom: 4px solid #3498db;
  width: 30%;
  height: 5px;
}
.wwdLine1 {
  height: 5px;
  border-bottom: 0.1px solid rgb(194, 182, 182);
  width: 30%;
}
.wwdSubtitle {
  font-size: 20px;
  color: rgb(36, 32, 32);
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  margin-top: -0.1%;
}
.wwdContainer {
  width: 95%;
  height: 55%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}
.wwdCard {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
.wwdIcon {
  margin-top: 1%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 0.5px solid aqua;
}
.wwdCardTitle {
  font-size: 25px;
  color: rgb(36, 32, 32);
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  font-weight: 600;
}
.wwdCardText {
  margin-left: 2%;
  margin-right: 2%;
  font-size: 17px;
  color: rgb(36, 32, 32);
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin-top: -1%;
}
.wwdCard:hover {
  box-shadow: 0px 0px 7px rgb(128, 119, 119);
  transition: 1s all ease;
}
.wwdCard:hover .wwdCardTitle {
  color: aqua;
  transition: 1s all ease;
}
.about {
  width: 100vw;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0px;
  flex-direction: row;
}
.aboutContainer {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.aboutImage {
  width: 49%;
  height: 100%;
}
.aboutTextContainer {
  width: 49%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.aboutTitle {
  margin-top: -2%;
  font-size: 32px;
  font-family: "Raleway", sans-serif;
  margin-bottom: -1%;
  font-weight: 700;
  color: rgb(36, 32, 32);
}
.aboutText {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  margin-bottom: -1%;
  color: rgb(61, 55, 55);
}
.aboutList {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  margin-bottom: -1%;
  color: rgb(36, 32, 32);
  margin-left: -2%;
}
.aboutCardContainer {
  width: 100%;
  height: 55%;
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.aboutCard {
  width: 48%;
  height: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;
}
.aboutIcon {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
.aboutCardTitle {
  font-size: 20px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  margin-bottom: -1%;
  color: rgb(53, 50, 50);
}
.aboutCardText {
  font-size: 16px;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  margin-bottom: -1%;
  color: rgb(95, 89, 89);
}
.slides {
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  margin: 0px;
  justify-content: center;
}
.slidesBigContainer {
  margin-top: 3%;
  width: 91%;
  margin-bottom: -260px;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
.slidesContainers {
  margin-top: 1%;
  width: 48%;
  height: 65%;
}
.slidesMiniTextContainer {
  width: 100%;
  height: 18px;
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
}
.slidesMiniText {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: rgb(36, 32, 32);
}
.backgroundEmpty {
  width: 100%;
  height: 4%;
  background-color: rgb(180, 168, 168);
  position: relative;
}
.backgroundFill1 {
  position: absolute;
  left: 0px;
  width: 0%;
  height: 100%;
  background-color: #3498db;
  animation-name: backgroundFillAnimation1;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes backgroundFillAnimation1 {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.backgroundFill2 {
  position: absolute;
  left: 0px;
  width: 0%;
  height: 100%;
  background-color: #3498db;
  animation-name: backgroundFillAnimation2;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes backgroundFillAnimation2 {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
.backgroundFill3 {
  position: absolute;
  left: 0px;
  width: 0%;
  height: 100%;
  background-color: #3498db;
  animation-name: backgroundFillAnimation3;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes backgroundFillAnimation3 {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}
.backgroundFill4 {
  position: absolute;
  left: 0px;
  width: 0%;
  height: 100%;
  background-color: #3498db;
  animation-name: backgroundFillAnimation4;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes backgroundFillAnimation4 {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
.backgroundFill5 {
  position: absolute;
  left: 0px;
  width: 0%;
  height: 100%;
  background-color: #3498db;
  animation-name: backgroundFillAnimation5;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes backgroundFillAnimation5 {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
.backgroundFill6 {
  position: absolute;
  left: 0px;
  width: 0%;
  height: 100%;
  background-color: #3498db;
  animation-name: backgroundFillAnimation6;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes backgroundFillAnimation6 {
  0% {
    width: 0%;
  }
  100% {
    width: 55%;
  }
}
.slidesUsers {
  width: 80%;
  height: 38%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slidesCard {
  display: flex;
  width: 24%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.slidesLogo {
  height: 60px;
  width: 60px;
  margin-top: -3%;
  margin-bottom: 13%;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 0.7px black;
}
.slideMiniText {
  margin-top: -9%;
  font-size: 15px;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  color: rgb(95, 89, 89);
}
.slideCount {
  margin-top: -9%;
  font-size: 40px;
  font-family: "Raleway", sans-serif;
  color: rgb(49, 46, 46);
}
.services {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.servicesContainer {
  width: 80%;
  height: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
  display: flex;
  justify-content: space-between;
}
.servicesCard {
  width: 49%;
  height: 100%;
  display: flex;
  border: 0px solid white;
}
.servicesLogoContainer {
  width: 5%;
  height: 100%;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: -5%;
}
.servicesLogo {
  height: 50px;
  width: 55px;
  border-radius: 5px;
}
.servicesTextContainer {
  width: 95%;
  height: 100%;
  margin-left: 10%;
}
.servicesTitle {
  font-family: "Raleway", sans-serif;
  margin-top: 13px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(36, 32, 32);
  cursor: pointer;
}
.servicesText {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: rgb(36, 32, 32);
}
.servicesCard:hover {
  box-shadow: 0px 0px 7px rgb(128, 119, 119);
  transition: 1s all ease;
}
.servicesCard:hover .servicesTitle {
  color: aqua;
  transition: 1s all ease;
}
.portfolio {
  width: 100vw;
  height: 180vh;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.portfolioContainer {
  width: 85%;
  height: 80%;
}
.portfolioCardContainer {
  margin-top: 5%;
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.portfolioButtonContainer {
  width: 20%;
  height: 100px;
  margin-top: -1%;
  margin-bottom: -3.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.portfolioButton {
  border-radius: 6px;
  color: black;
  background-color: white;
  border: none;
  font-size: 14px;
  font-weight: 400;
  padding: 15px 20px;
  cursor: pointer;
}
.portfolioButtonAll {
  border-radius: 6px;
  color: white;
  background-color: #3498db;
  border: none;
  font-size: 14px;
  font-weight: 400;
  padding: 15px 20px;
  cursor: pointer;
}
.portfolioButton:hover {
  background-color: #3498db;
  color: white;
  transition: 0.5s all ease;
}
.portfolioCard {
  width: 30%;
  height: 100%;
  background-color: blue;
}
